:root {
  --vp-c-brand: #0098c1;
  --vp-c-brand-light: #4E5E78;
  --vp-c-brand-dark: #4E5E78;
  --vp-font-family-base: 'Inter', sans-serif;
  --vp-sidebar-width: 300px;
}

html:not(.dark) {
  --vp-c-bg-alt: #fafbfb;
  --vp-c-text-1: #0a1f44;
  --vp-c-text-2: #4e5d78;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html.dark {

}

body {
  font-weight: 500;
  color: var(--vp-c-text-2);
  h1, h2, h3, h4, h5, h6 {
    color: var(--vp-c-text-1);
  }
}

.VPNavBarTitle {
  .title {
    font-size: 0;
  }
  img.logo {
    width:auto;
    height:3rem;
    border:none;
  }
}

img {
  border-radius:.4rem;
  border:1px solid var(--vp-c-divider-light);
}

.VPLink.active .link-text {
  font-weight: bold;
}